<div class="bg-white p-3 mt-5">
    <h2>Register</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="example-form">
        <mat-form-field class="example-full-width">
          <input formControlName="name" matInput placeholder="Name">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <input formControlName="lastname" matInput placeholder="Last name">
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
          <input formControlName="email" matInput placeholder="Email" type="email">
          <mat-error *ngIf="!signupForm.valid && signupForm.touched">Please enter a valid mail</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input formControlName="password" matInput placeholder="Password" type="password">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>

</div>