<div class="bg-white p-3 mt-5">
    <h2>Register</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="example-form">
        <mat-form-field class="example-full-width">
          <input formControlName="name" matInput placeholder="Name">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <input formControlName="lastname" matInput placeholder="Last name">
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
          <input formControlName="email" matInput placeholder="Email" type="email">
          <mat-error *ngIf="!signupForm.valid && (signupForm.touched || !signupForm.touched)">Please enter a valid mail</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input formControlName="password" matInput placeholder="Password" type="password">
          <mat-error *ngIf="!signupForm.valid && (signupForm.touched || !signupForm.touched)">You should have at least 6 characters, 1 Uppercase, 1 number and 1 special character #@$*?</mat-error>
        </mat-form-field>

        <button class="mt-3" mat-raised-button color="primary" type="submit">Submit</button>
    </form>

</div>