<div class="container">
    <div class="row pt-2">
        <div class="col-md-12">
            <button mat-raised-button color="primary" (click)="openInstructions()">Instructions</button>

        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-12">
            <mat-card id="dashboard-card" class="mt-1">
                <div class="float-right">
                    
                    <mat-icon (click)="toggleAside()">menu</mat-icon>
                </div>
                <mat-card-header>
                    <mat-card-title>Bistories</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-drawer-container class="row" class="db-h">
                        <mat-drawer #aside id="dashboard-aside" class="col-md-3" mode="side" opened>
                                <mat-list>
                                    <mat-list-item *ngFor="let bistory of bistories; let i=index">
                                        <button mat-button (click)="openBistory(event)">{{bistory.name}}</button>
                                    </mat-list-item>
                                </mat-list>
                        </mat-drawer>
                        <mat-drawer-content class="col-md-9">
                            Al hacer click en el boton lateral, se tiene que cambiar el contenido de forma dinamica. cargando un contenido aparte con un bistory router.<br><br>
                            Se mostrara el perfil de la persona y las opciones de edit mode(write/speech).
                            
                            Main content Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni consequuntur amet obcaecati est. Assumenda vero eaque, optio dicta voluptas magni est in quasi, facere ad incidunt. Ex iure suscipit aperiam.
                        </mat-drawer-content>
                    </mat-drawer-container>
                    
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="createNewBistory()">New</button>
                </mat-card-actions>
            </mat-card>

        </div>
        <!-- <div class="col-md-8">
            <mat-card class="mt-1">
                Card
            </mat-card>

        </div> -->
    </div>
</div>
